[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "langevitour"]
	path = langevitour
	url = https://github.com/pfh/langevitour
	shallow = true
	registered = true
